@import 'bootstrap/bootstrap.scss';
@import 'colors.scss';

@media only screen and (min-width: 767px) {
  .about-content {
    display: block;
  }
  .about-picture {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-thumbnail, .about-skills {
    display: none;
  }
  .about-list, .about-icons {
    text-align: center;
  }

  .about-text {
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 1279px) {
  .about-skills {
    display: none;
  }
}

.about-content {
  display: flex;
}

.about-jumbotron {
  padding: 0 !important;
  border-radius: 0;
}

.about-text {
  text-align: left;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  padding-left: 32px;
}

.about-misc {
  margin-top: 24px;
}

.about-thumbnail {
  text-align: right;
  flex-shrink: 1.67;
}

.about-list {
  margin-top: 24px;
}

.about-icons {
  margin-top: 24px;
}

#about {
  small {
    color: $theme-gray-900;
  }
}