@media only screen and (min-width: 767px) {
  .about-content {
    display: block;
  }

  .about-icons {
    text-align-all: center;
  }

  .about-picture {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-thumbnail {
    display: none;
  }
}

.about-content {
  display: flex;

}

.about-text {
  text-align: left;
  flex-shrink: 0;
}

.about-thumbnail {
  width: 100%;
  text-align: right;
}