@import "colors.scss";

#about {
  .links-bar-button {
    width: 1.5em;
    height: 1.5em;
  }
}

#about-title {
  color: $theme-gray-700;
  font-weight: normal;
}

#about-name {
  color: $theme-gray-900;
}

#about-quote {
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  font-style: italic;
  margin: 32px;
}

.about-left-item,
.about-right-item {
  margin: 0 0 16px;
}

#about {
  background-color: $theme-gray-300;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#about-inner {
  display: flex;
  align-self: stretch;
}

#about-first {
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  text-align: right;
  flex-basis: 100%;
}

#about-second {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  flex-basis: 100%;
}

@media only screen and (max-width: 767px) {
  #about-first,
  #about-second {
    text-align: center;
  }

  #about-inner {
    flex-direction: column;
  }

  #about-second {
    flex-direction: row;
  }
}
