@import 'bootstrap/bootstrap';
@import 'colors.scss';

.copyright-text {
  text-align: center;
  padding-bottom: 12px;
}

.loader-background {
  background-color: $theme-white;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.text-header {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.text-brief {
  text-align: center;
  line-height: 1.67;
  padding: 24px;
  margin-bottom: 0;
  font-weight: 400;
}

.collapse-more {
  padding: 0 !important;
}

.collapse-more-text {
  font-size: 14px;
  font-weight: bold;
}

.collapse-more::after {
  content: ' ►';
  font-size: 12px;
}

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

a, .btn-link{
  color: $theme-gray-700 !important;
  transition: color 200ms;
}
a:hover, .btn-link:hover {
  color: $theme-gray-900 !important;
}

.btn-primary {
  background-color: $theme-gray-700 !important;
  border:none !important;
}

.btn-primary:hover {
  background-color: $theme-gray-900 !important;
}

.jumbotron {
  background-color: $theme-white !important;
}