@import "colors.scss";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

main {
  padding-top: 4em;
}

p,
li,
a {
  font-size: large;
}

time {
  color: $theme-gray-700;
  font-weight: bold;
}

a,
.btn-link {
  color: $theme-blue !important;
  transition: color 200ms;
}
a:hover,
.btn-link:hover {
  color: $theme-marine !important;
}

#loader-container {
  background-color: $theme-gray-300;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

#copyright {
  font-weight: normal;
  text-align: center;
}

#navbar {
  width: 100vw;
  position: fixed;
  overflow: visible;
  z-index: 1000 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row-reverse;
  background-color: $theme-gray-300;
  align-items: center;
  margin: 0em;

  list-style: none;

  a {
    padding: 0.8em;
    font-size: large;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
  }
}

.navbar-active {
  background-color: white;
}

.icon-header {
  vertical-align: top;
}

.text-header {
  text-align: center;
  font-weight: 400;
  font-size: xxx-large;
  margin: 32px;
}

.text-location,
.text-birthday,
.links-bar {
  font-weight: normal !important;
}
