@import "colors.scss";

$element-radius: 3rem;

.backlog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    .name,
    .a {
      font-size: x-large !important;
    }

    .tag {
      border-radius: $element-radius;
      margin: 0 4px 0 0;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      padding: 4px;
      background-color: $theme-gray-700;
    }

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }

    .tag {
      margin: 0 4px 0 0;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      padding: 4px;
      background-color: $theme-gray-700;
    }

    flex-basis: 30%;
    margin: 8px;
    padding: 16px;
    min-width: 300px;
    background-color: $theme-gray-300;
    border-radius: $element-radius;

    .brief {
      font-weight: normal;
      font-style: italic;
    }

    .items-list {
      font-weight: normal;
      font-style: normal;
    }
  }

  @media only screen and (max-width: 1600px) {
    .item {
      flex-basis: 45%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .item {
      flex-basis: 100%;
    }
  }
}
