@import "colors.scss";
@import "NavBar.scss";

$element-radius: 3rem;
$modal-width: 50vw;

.backlog.page {
  width: 100vw !important;

  .quit {
    display: none;
  }
}

.backlog.page,
.backlog.modal {
  .item {
    background-color: white !important;
    flex-basis: 75vw;
  }

  @media only screen and (min-width: 1024px) {
    .item {
      .tag {
        font-size: large !important;
      }
    }

    h1 {
      font-size: xxx-large !important;
      text-align: center;
    }

    h2 {
      font-size: xx-large !important;
    }

    h3 {
      font-size: x-large;
    }

    h4 {
      font-size: large;
    }

    p,
    li {
      font-size: x-large;
    }
  }
}

.backlog.modal {
  width: $modal-width;
  margin: auto;
  margin-top: calc(#{$nav-height} + 1rem) !important;
  border-radius: $element-radius;
  //padding: $element-radius 0 $element-radius 0;
  border: 1rem solid $theme-gray-700;
  background-color: white;
  .item {
    margin: 1rem !important;
    max-height: 100vh;
    width: $modal-width;
    overflow: scroll;
    flex-basis: auto !important;
  }

  @media only screen and (max-width: 1024px) {
    .item {
      max-height: 60vh;
      width: 100vw;
      min-width: 0;
      margin: 0 !important;
    }
    width: 75vw;
  }
}

.backlog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .top {
    display: flex;
    align-items: flex-start;
    .quit {
      margin-left: auto;
      font-size: x-large;
    }
  }
  .card {
    cursor: pointer;
    .quit {
      display: none;
    }
  }

  .card:hover {
    background-color: $theme-gray-300 !important;
  }

  .item {
    .name,
    .a {
      font-size: x-large;
    }

    .tag {
      border-radius: $element-radius;
      margin: 0 4px 4px 0px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      padding: 4px;
      background-color: $theme-gray-700;
    }

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }

    flex-basis: 30%;
    margin: 8px;
    padding: 16px;
    min-width: 300px;
    background-color: $theme-gray-300;
    border-radius: $element-radius;

    .brief {
      font-weight: normal;
      font-style: italic;
    }

    .items-list {
      font-weight: normal;
      font-style: normal;
    }
  }

  @media only screen and (max-width: 1600px) {
    .item {
      flex-basis: 45%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .item {
      flex-basis: 100%;
    }
  }
}
