$theme-white: #F0F2F2;
$theme-gray-300: #DFE7F2;
$theme-gray-500: #AEB4BF;
$theme-gray-700: #7D828C;
$theme-gray-900: #656A73;
$theme-orange: #D99066;
$theme-hazelnut: #D9C6B0;
$theme-green: #588C8C;
$theme-blue: #2D5873;
$theme-marine: #3F4359;
$theme-blue-alt: #004757;
$theme-marine-alt: #003845;