$theme-gray-300: #F0F2F2;
$theme-gray-500: #AEB4BF;
$theme-gray-700: #7D828C;
$theme-gray-900: #656A73;
$theme-blue: #0583F2;
$theme-marine: #033E8C;
$theme-tag-yellow: #EDD86A;
$theme-tag-purple: #534573;
$theme-tag-blue: #419FD9;
$theme-tag-green: #4C7359;
$theme-tag-skin: #F2C0A2;
$theme-tag-red: #F24738;