#contact {
  margin-top: 32px;
  font-size: 18pt;
  padding: 4px 12px 4px 12px;
  border-radius: 10px 10px 10px 10px;
}

#about-contact {
  font-size: 14pt;
}

.row {
   padding-top: 5px;
   padding-bottom: 5px;
 }

.mail-form-control.form-control {
  border-radius: 10px;
  border: none;
  resize: none;
}

.mail-form-send {
  border-radius: 10px !important;
}

.mail-form-button {
  margin-bottom: 0;
}