@import "colors.scss";

#history {
  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

.tag.experience {
  background-color: $theme-tag-red !important;
}

.tag.education {
  background-color: $theme-tag-purple !important;
}
