@import "colors.scss";

#home-page {
  background-color: $theme-gray-300;
  height: 100%;
}

#home-header {
  color: $theme-gray-900;
  margin: 0em !important;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 4em;
  em {
    color: black;
  }
}

#home-inner {
  display: flex;
  align-self: stretch;
  overflow: auto;
}

.home-thumbnail {
  border-radius: 10vw;
  width: 30vw;
  height: 30vw;
}

#home-first {
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  #home-links {
    margin-top: 1em;
    border-radius: 10vw;
    background-color: white;
  }

  .links-bar-button {
    width: 3.7em;
    height: 3.7em;
    margin: 1.5em;
  }
}

#home-second {
  border-radius: 10vw 0 0 10vw;
  background-color: white;
  display: inline-grid;
  flex-basis: 100%;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: large !important;
  h2 {
    margin: 1em 4em 1em 4em !important;
    justify-content: center;
    flex: 1;
    color: $theme-gray-700;
  }
}

@media only screen and (max-width: 1024px) {
  #home-first {
    #home-links {
      margin-top: 0em;
      background-color: $theme-gray-300;
    }
  }
  #home-inner {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  #home-first {
    .links-bar-button {
      margin: 1em;
      width: 3em;
      height: 3em;
    }
  }

  .home-thumbnail {
    display: none;
  }
}

@media only screen and (min-width: 1981px) {
  #home-second {
    font-size: x-large !important;
  }
}
