@import "colors.scss";

#kanban {
  @media only screen and (max-width: 1023px) {
    display: none;
  }

  @media only screen and (min-width: 1981px) {
    .columns {
      .column {
        flex-basis: 30% !important;
      }
    }
  }

  .columns {
    .column {
      flex-basis: 100%;
      .title {
        text-align: center;
        font-size: xx-large;
        color: $theme-gray-900;
      }
    }
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .backlog {
      .item {
        flex-basis: 80%;
        min-width: 0 !important;
      }

      .items-list {
        display: none;
      }
    }
  }
}
