@import 'bootstrap/bootstrap.scss';

$backgroundColor: $blue;
$labelColor: $light;
$levelColor: $white;

@media only screen and (min-width: 767px) {
  .skills-best {
    display: none;
  }
}

.skills {
  padding: 0;

  li {
    background-color: $backgroundColor;
    display: block;
    position: relative;
    color: $labelColor;
    margin: 20px 0;
    transition: width 1000ms ease-in-out, color 600ms ease-in-out;
    border-radius: 10px 10px 10px 10px;

    p {
      padding: 10px;
      font-weight: normal;
      text-align: left;
    }

    span {
      color: $levelColor;
      position: absolute;
      right: 10px;
      display: inline-block;
      width: 30px;
      text-align: right;
      font-weight: bold;
      font-size: 11pt;
    }

    .collapsed & {
      width: 50% !important;
    }

    .hidden & {
      color: $backgroundColor !important;
    }
  }
}

.skills-more {
  margin-bottom: 10px;
}

.card.skills-accordion-card {
  border:none;
}