@import "colors.scss";

$element-radius: 3rem;

#skills {
  .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }

  .stack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: $element-radius $element-radius 0 0;
    margin: auto;
    border-bottom: 1rem solid $theme-gray-700;
  }

  .name {
    padding: 0.5rem;
    margin: 0;

    text-align: center;
  }

  .item {
    margin: 0;
    padding: 8px;
    height: 50px;

    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  @media only screen and (max-width: 1024px) {
    .inner {
      flex-direction: column;
      align-items: start;
    }

    .stack {
      flex-direction: row;
      place-content: start;
      border-radius: 0 $element-radius $element-radius 0;
      border: none;
      margin-right: 8px;
    }

    .name {
      text-align: left;
      justify-content: left;
      flex-basis: 100%;
    }

    .item {
      text-align: left;
    }
  }

  .stack {
    background-color: $default-color;
  }

  .stack.scientific-knowledge {
    background-color: $scientific-knowledge-color;
  }

  .stack.industry-knowledge {
    background-color: $industry-knowledge-color;
  }

  .stack.tools-technologies {
    background-color: $tools-technologies-color;
  }

  .stack.software-languages {
    background-color: $software-languages-color;
  }

  .stack.hardware-design {
    background-color: $hardware-design-color;
  }

  .stack.interpersonal-skills {
    background-color: $interpersonal-skills-color;
  }

  .stack.languages {
    background-color: $languages-color;
  }

  .name.scientific-knowledge {
    color: $scientific-knowledge-color;
  }

  .name.industry-knowledge {
    color: $industry-knowledge-color;
  }

  .name.tools-technologies {
    color: $tools-technologies-color;
  }

  .name.software-languages {
    color: $software-languages-color;
  }

  .name.hardware-design {
    color: $hardware-design-color;
  }

  .name.interpersonal-skills {
    color: $interpersonal-skills-color;
  }

  .name.languages {
    color: $languages-color;
  }
}
